<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Project Name
  link(rel="stylesheet", href="./assets/css/index.css")
body
  .Grid.Grid--gutters.large-Grid--fit.Grid--full
    .Grid-cell
      .box Loren Ipsun lla wier wkdmak wiuwd wkmdm wkdmiwmmd wkdmmwd  kwkw dkwjdw
    .Grid-cell
      .box Some B content akkas loren ipsum mussundis
    .Grid-cell
      .box Some C



