<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
  title Project Name
  link(rel="stylesheet", href="./assets/css/index.css")
  link(rel="stylesheet", href="./bower_components/gridism/gridism.css")
  link(rel="stylesheet", href="./bower_components/fontawesome/css/font-awesome.min.css")
body
  .header-section
    .container
      .header
        .flex-row.justify-content
          .header-item.header-logo
            a.btn.primary(href="/")
              span.strong fresh
              span potatoes
          .header-item.no-padding
            .flex-row.header--box
              .header-item.header-item--separator.v-expanded
                .flex-row
                  i.fa.fa-user.fa-2x.menu-ic--text.menu-ic--white
                  span Hello, user!
              .header-item.header-item--separator.last.v-expanded
                  i.fa.fa-search.fa-2x.menu-ic.menu-ic--white
  .container
    .hero-section
      img.hero-img(src="/assets/imgs/movie-hero-thumb.png")
      .hero-label
        .card-content.detail
          .label
            h3.label-title.largest 10 Cloverfield Lane
            p.label-subtitle.smaller John Goodman, Mary Elizabeth Winstead
          .tagging
            .tag.tag--blue DRAMA
            .tag.tag--blue HORROR
            .tag.tag--blue MISTERY
      .hero-action
        button.btn.btn-large.primary.expanded(href="#") Add movie to your diary
    .grid
      .unit.w-2-3.no-gutters
        .container-padded
          h3.strong DESCRIPTION
          p.body Soon after leaving her fiancé Michelle is involved in a car accident. She awakens to find herself sharing an underground bunker with Howard and Emmett. has she been saved from an apocalyptical event as Howard & Emmett tell her or are there other motives for her being held against her will?
        .container-light
          h3.item.highlight
            span.strong Director:
            span  Dan Tratchtenberg
          h3.item.highlight
            span.strong Writers:
            span  Josh Campbell (story), Matthew Stuecken (story)
        .container-padded
          h3.strong ACTORS
          .card-face
            img.card-face-thumb(src="/assets/imgs/movie-thumb.png")
            h3 John Goodman
          .card-face
            img.card-face-thumb(src="/assets/imgs/movie-thumb.png")
            h3 John Goodman
          .card-face
            img.card-face-thumb(src="/assets/imgs/movie-thumb.png")
            h3 John Goodman
          .card-face
            img.card-face-thumb(src="/assets/imgs/movie-thumb.png")
            h3 John Goodman
      .unit.w-1-3.no-gutters
        .container-padded
          h3.strong Likes
          .flex-row.justify-content
            .flex-item.flex-25
              .profile-circular
            .flex-item.flex-25
              .profile-circular
            .flex-item.flex-25
              .profile-circular
            .flex-item.flex-25
              .profile-circular
            .flex-item.flex-25
              .profile-circular
            .flex-item.flex-25
              .profile-circular
            .flex-item.flex-25
              .profile-circular
            .flex-item.flex-25
              .profile-circular
        .container-padded
          h3.strong Dislikes
          .flex-row.justify-content
            .flex-item.flex-25
              .profile-circular
            .flex-item.flex-25
              .profile-circular
            .flex-item.flex-25
              .profile-circular
            .flex-item.flex-25
              .profile-circular
            .flex-item.flex-25
              .profile-circular
            .flex-item.flex-25
              .profile-circular
            .flex-item.flex-25
              .profile-circular
            .flex-item.flex-25
              .profile-circular
    .grid
      .whole
        .container-padded
          h3.strong SCREENINGS AROUND YOUR AREA
          .search-container
            .search-box
              input(placeholder="Please enter a location or zipcode")
              i.fa.fa-search.fa-2x.search-ic
          .container-padded
            img.expanded(src="/assets/imgs/map.png")
        .container-padded

  .footer-section
    .container
      .footer.flex-row
        h3.footer-text.semi-strong 2016 Fresh Potatoes. All rights reserved. Some lefts reserved too.
