.container
  margin: auto
  width: 80%

.flex-row
  display: flex
  align-items: center
  flex-direction: row
  position: relative

.justify-content
  justify-content: space-between


// color utilities
.regular
  font-weight: $font-weight-regular
.strong
  font-weight: $font-weight-bold
.semi-strong
  font-weight: $font-weight-semibold

.expanded
  width: 100%
