html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Grid ______________________ */
.Grid {
  display: flex;
  flex-wrap: wrap; }

.Grid-cell {
  flex: 1; }

/* With gutters */
.Grid--gutters {
  margin: -1em 0 0 -1em; }

.Grid--gutters > .Grid-cell {
  padding: 1em 0 0 1em; }

/* Alignment per row */
.Grid--top {
  align-items: flex-start; }

.Grid--bottom {
  align-items: flex-end; }

.Grid--center {
  align-items: center; }

/* Alignment per cell */
.Grid-cell--top {
  align-self: flex-start; }

.Grid-cell--bottom {
  align-self: flex-end; }

.Grid-cell--center {
  align-self: center; }

/* Base classes for all media */
.Grid--fit > .Grid-cell {
  flex: 1; }

.Grid--full > .Grid-cell {
  flex: 0 0 100%; }

.Grid--1of2 > .Grid-cell {
  flex: 0 0 50%; }

.Grid--1of3 > .Grid-cell {
  flex: 0 0 33.3333%; }

.Grid--1of4 > .Grid-cell {
  flex: 0 0 25%; }

/* Small to medium screens */
@media (min-width: 24em) {
  .small-Grid--fit > .Grid-cell {
    flex: 1; }

  .small-Grid--full > .Grid-cell {
    flex: 0 0 100%; }

  .small-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%; }

  .small-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%; }

  .small-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%; } }
/* Large screens */
@media (min-width: 48em) {
  .large-Grid--fit > .Grid-cell {
    flex: 1; }

  .large-Grid--full > .Grid-cell {
    flex: 0 0 100%; }

  .large-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%; }

  .large-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%; }

  .large-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%; } }
.container {
  margin: auto;
  width: 80%; }

.flex-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative; }

.justify-content {
  justify-content: space-between; }

.regular {
  font-weight: 400; }

.strong {
  font-weight: 700; }

.semi-strong {
  font-weight: 600; }

.expanded {
  width: 100%; }

/* Default ______________________ */
.strong {
  font-weight: bold; }

.container {
  margin: auto;
  width: 80%; }

.flex-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative; }

.justify-content {
  justify-content: space-between; }

a.btn, button.btn, input[type=submit].btn {
  display: inline-block;
  padding: 0px 15px;
  text-align: center;
  height: 54px;
  line-height: 54px;
  font-family: "open sans", "Helvetica";
  font-size: 16px;
  border: none;
  border-radius: 2px;
  white-space: nowrap; }
  a.btn.btn-large, button.btn.btn-large, input[type=submit].btn.btn-large {
    height: 55px;
    line-height: 55px; }
  a.btn:focus, button.btn:focus, input[type=submit].btn:focus {
    outline: none; }
  a.btn.primary, button.btn.primary, input[type=submit].btn.primary {
    color: #FFFFFF;
    background-color: #455877; }

.ic-bt {
  text-decoration: none; }
  .ic-bt.default {
    color: #A3ADB3; }
    .ic-bt.default:hover {
      color: #455877; }

/* Header ______________________ */
.header-section {
  background-color: #455877;
  height: 50px;
  overflow: hidden;
  color: #FFFFFF;
  font-family: "Open sans";
  font-size: 14px; }

.header {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px; }

.header-logo {
  font-size: 18px; }

.header--box {
  height: 50px; }

.header-item {
  margin: 0;
  padding: 0 15px;
  display: flex;
  align-items: center; }
  .header-item.no-padding {
    padding: 0; }
  .header-item.header-logo {
    font-size: 17px;
    padding: 0; }

.v-expanded {
  align-self: stretch; }

.header-item--separator {
  border-left: 1px solid #FFF; }
  .header-item--separator.last {
    border-right: 1px solid #FFF; }

.menu-ic--text {
  margin: 5px 15px 5px 0; }

.menu-ic {
  margin: 5px 0; }

.menu-ic--white {
  color: #fff; }

.footer-section {
  background-color: #edeef7;
  height: 50px;
  overflow: hidden;
  color: #FFFFFF;
  font-family: "Open sans";
  font-size: 14px; }

.footer {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px; }

.footer-text {
  color: #455877; }

.cards-container {
  margin-top: 20px; }

.cards-container-title {
  color: #444444;
  font-family: "open sans", "Helvetica";
  font-size: 12px; }

.card {
  border: 2px solid black;
  box-sizing: border-box;
  position: relative;
  max-width: 580px; }
  .card.feed {
    margin: 20px 0 40px 78px;
    border-radius: 5px;
    margin-right: 40px; }
  .card.notification {
    margin: 20px 0 40px 58px;
    border: none;
    margin-bottom: 20px; }

.card-content {
  max-height: auto;
  font-family: "open sans", "Helvetica";
  color: #444444; }
  .card-content.feed {
    padding: 0 20px 20px 20px; }
  .card-content.notification {
    padding: 0 0 10px 0; }

.card-action {
  box-sizing: border-box;
  padding: 10px 50px;
  width: 100%;
  border-top: 2px solid black; }

.card-item-right {
  position: absolute;
  top: 0;
  right: 0; }
  .card-item-right.feed {
    width: 155px;
    height: 220px;
    top: -22px;
    right: 20px; }
    @media only screen and (max-width: 1080px) {
      .card-item-right.feed {
        width: 155px;
        height: 220px;
        position: relative;
        top: 0;
        margin-left: 50%;
        left: -75px; } }
  .card-item-right.notification {
    width: auto;
    height: auto; }
    @media only screen and (max-width: 1110px) {
      .card-item-right.notification {
        display: none; } }

.card-item-left {
  box-sizing: border-box;
  position: absolute;
  width: 60px;
  height: auto;
  top: -2px;
  left: 0;
  text-align: center; }
  .card-item-left.feed {
    background-color: #F5F7F9;
    border: 2px solid black;
    border-radius: 35px;
    width: 60px;
    height: 60px;
    left: -78px; }
  .card-item-left.notification {
    border: none;
    border-radius: 0;
    width: 40px;
    top: 2px;
    font-size: 14px;
    left: -58px; }

.label {
  position: relative;
  margin: 20px 0 30px 0; }
  .label:first-child {
    margin: 0; }

.label-title {
  display: inline-block;
  margin: 0 0 5px 0; }
  .label-title.largest {
    font-size: 22px; }
  .label-title.larger {
    font-size: 18px; }
  .label-title.medium {
    font-size: 16px; }
  .label-title.smaller {
    font-size: 14px; }

.label-subtitle {
  color: #94cdce;
  display: block; }
  .label-subtitle.larger {
    font-size: 18px; }
  .label-subtitle.medium {
    font-size: 16px; }
  .label-subtitle.smaller {
    font-size: 14px; }
  .label-subtitle.smallest {
    font-size: 12px; }

.tagging {
  margin-left: 0; }
  .tagging > .tag {
    display: inline-block;
    font-weight: 600;
    padding: 5px 10px;
    line-height: 15px;
    border-radius: 2px;
    margin-top: 9px;
    margin-right: 5px; }
    .tagging > .tag.tag--blue {
      background-color: #94cdce;
      color: #FFFFFF; }
