html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Grid ______________________ */
.Grid {
  display: flex;
  flex-wrap: wrap; }

.Grid-cell {
  flex: 1; }

/* With gutters */
.Grid--gutters {
  margin: -1em 0 0 -1em; }

.Grid--gutters > .Grid-cell {
  padding: 1em 0 0 1em; }

/* Alignment per row */
.Grid--top {
  align-items: flex-start; }

.Grid--bottom {
  align-items: flex-end; }

.Grid--center {
  align-items: center; }

/* Alignment per cell */
.Grid-cell--top {
  align-self: flex-start; }

.Grid-cell--bottom {
  align-self: flex-end; }

.Grid-cell--center {
  align-self: center; }

/* Base classes for all media */
.Grid--fit > .Grid-cell {
  flex: 1; }

.Grid--full > .Grid-cell {
  flex: 0 0 100%; }

.Grid--1of2 > .Grid-cell {
  flex: 0 0 50%; }

.Grid--1of3 > .Grid-cell {
  flex: 0 0 33.3333%; }

.Grid--1of4 > .Grid-cell {
  flex: 0 0 25%; }

/* Small to medium screens */
@media (min-width: 24em) {
  .small-Grid--fit > .Grid-cell {
    flex: 1; }

  .small-Grid--full > .Grid-cell {
    flex: 0 0 100%; }

  .small-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%; }

  .small-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%; }

  .small-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%; } }
/* Large screens */
@media (min-width: 48em) {
  .large-Grid--fit > .Grid-cell {
    flex: 1; }

  .large-Grid--full > .Grid-cell {
    flex: 0 0 100%; }

  .large-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%; }

  .large-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%; }

  .large-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%; } }
/* Default ______________________ */
.strong {
  font-weight: bold; }

.container {
  margin: auto;
  width: 80%; }

.flex-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative; }

.justify-content {
  justify-content: space-between; }

/* Header ______________________ */
.header-section {
  background-color: #455877;
  height: 50px;
  overflow: hidden;
  color: #FFF;
  font-family: "Open sans";
  font-size: 14px; }

.header {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px; }

.header-logo {
  font-size: 17px; }

.header--box {
  height: 50px; }

.header-item {
  margin: 0;
  padding: 0 15px;
  display: flex;
  align-items: center; }
  .header-item.header-logo {
    font-size: 17px;
    padding: 0; }

.v-expanded {
  align-self: stretch; }

.header-item--separator {
  border-left: 1px solid #FFF; }
  .header-item--separator.last {
    border-right: 1px solid #FFF; }

.menu-ic--text {
  margin: 5px 15px 5px 0; }

.menu-ic {
  margin: 5px 0; }

.menu-ic--white {
  color: #fff; }
