html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Grid ______________________ */
.Grid {
  display: flex;
  flex-wrap: wrap; }

.Grid-cell {
  flex: 1; }

/* With gutters */
.Grid--gutters {
  margin: -1em 0 0 -1em; }

.Grid--gutters > .Grid-cell {
  padding: 1em 0 0 1em; }

/* Alignment per row */
.Grid--top {
  align-items: flex-start; }

.Grid--bottom {
  align-items: flex-end; }

.Grid--center {
  align-items: center; }

/* Alignment per cell */
.Grid-cell--top {
  align-self: flex-start; }

.Grid-cell--bottom {
  align-self: flex-end; }

.Grid-cell--center {
  align-self: center; }

/* Base classes for all media */
.Grid--fit > .Grid-cell {
  flex: 1; }

.Grid--full > .Grid-cell {
  flex: 0 0 100%; }

.Grid--1of2 > .Grid-cell {
  flex: 0 0 50%; }

.Grid--1of3 > .Grid-cell {
  flex: 0 0 33.3333%; }

.Grid--1of4 > .Grid-cell {
  flex: 0 0 25%; }

/* Small to medium screens */
@media (min-width: 24em) {
  .small-Grid--fit > .Grid-cell {
    flex: 1; }

  .small-Grid--full > .Grid-cell {
    flex: 0 0 100%; }

  .small-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%; }

  .small-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%; }

  .small-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%; } }
/* Large screens */
@media (min-width: 48em) {
  .large-Grid--fit > .Grid-cell {
    flex: 1; }

  .large-Grid--full > .Grid-cell {
    flex: 0 0 100%; }

  .large-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%; }

  .large-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%; }

  .large-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%; } }
.strong {
  font-weight: bold; }

.container {
  margin: auto;
  width: 80%; }

.flex-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative; }

.justify-content {
  justify-content: space-between; }

/* Default ______________________ */
.strong {
  font-weight: bold; }

.container {
  margin: auto;
  width: 80%; }

.flex-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative; }

.justify-content {
  justify-content: space-between; }

.ic-bt {
  text-decoration: none; }
  .ic-bt.default {
    color: #A3ADB3; }
    .ic-bt.default:hover {
      color: #455877; }

/* Header ______________________ */
.header-section {
  background-color: #455877;
  height: 50px;
  overflow: hidden;
  color: #FFF;
  font-family: "Open sans";
  font-size: 14px; }

.header {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px; }

.header-logo {
  font-size: 17px; }

.header--box {
  height: 50px; }

.header-item {
  margin: 0;
  padding: 0 15px;
  display: flex;
  align-items: center; }
  .header-item.header-logo {
    font-size: 17px;
    padding: 0; }

.v-expanded {
  align-self: stretch; }

.header-item--separator {
  border-left: 1px solid #FFF; }
  .header-item--separator.last {
    border-right: 1px solid #FFF; }

.menu-ic--text {
  margin: 5px 15px 5px 0; }

.menu-ic {
  margin: 5px 0; }

.menu-ic--white {
  color: #fff; }

.feed {
  margin-top: 20px; }

.feed-title {
  color: #444444;
  font-family: "open sans", "Helvetica";
  font-size: 12px; }

.feed-card {
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
  max-width: 580px;
  border: 2px solid black;
  margin: 20px 20px 40px 78px; }

.feed-card-content {
  padding: 20px;
  max-height: auto;
  font-family: "open sans", "Helvetica"; }

.feed-card-action {
  box-sizing: border-box;
  padding: 10px 50px;
  width: 100%;
  border-top: 2px solid black; }

.feed-card-movie-thumb {
  position: absolute;
  width: 155px;
  height: 220px;
  background-color: #455877;
  top: -22px;
  right: 20px; }

.feed-card-profile-thumb {
  box-sizing: border-box;
  position: absolute;
  border: 2px solid black;
  border-radius: 35px;
  width: 60px;
  height: 60px;
  background-color: #F5F7F9;
  top: -2px;
  left: -78px; }

.label {
  margin: 20px 0 30px 0; }
  .label:first-child {
    margin: 0; }

.label-title {
  color: #000000;
  display: inline-block;
  margin: 0 0 5px 0; }
  .label-title.largest {
    font-size: 22px; }
  .label-title.larger {
    font-size: 18px; }
  .label-title.medium {
    font-size: 16px; }
  .label-title.smaller {
    font-size: 14px; }

.label-subtitle {
  color: #94cdce;
  display: block; }
  .label-subtitle.larger {
    font-size: 18px; }
  .label-subtitle.medium {
    font-size: 16px; }
  .label-subtitle.smaller {
    font-size: 14px; }

.tagging {
  margin-left: 0; }
  .tagging > .tag:not(:first-child) {
    margin-left: 5px; }
  .tagging > .tag {
    display: inline-block;
    font-weight: 600;
    padding: 5px 10px;
    line-height: 15px;
    border-radius: 2px; }
    .tagging > .tag.tag--blue {
      background-color: #94cdce;
      color: #FFFFFF; }
