.container-padded
  margin-top: $space-larger
  padding: $space-largest 0 $space-largest 0
  > h3
    margin-bottom: $space-largest
    color: $color-darkest-gray
  > p
    color: $color-darkest-gray
    font-size: $font-size-larger
    line-height: $font-size-largest

.container-light
  >.item
    margin-top: $space-medium
